# Add in rudementary 'Fixture Rating' based on closeness of a game, also taking into account the total goals scored 
# Arthurian League Fixture Index Evaluation (ALFIE)
import numpy as np

def _ALFIE_rating(homescore, awayscore):
    ttl_gls = homescore + awayscore
    gl_diff = np.abs(homescore - awayscore)
    ttl_gls_rt = np.sqrt(ttl_gls/2)
    
    close_rating = np.where(gl_diff < 3.5, 3.5 - gl_diff, 
                                np.where(gl_diff > 4.5, -2, 0)) 

    ALFIE = np.abs(round(ttl_gls_rt + close_rating))
    return ALFIE

In [19]:
import pandas as pd

al_results_df = pd.read_csv(r"C:\Users\arund\Prospect_week\al_results_normal.csv")
al_results_df.dtypes

Unnamed: 0      int64
Fixture_ID      int64
Season         object
Competition    object
Date           object
Home_Team      object
Away_Team      object
Homegoals       int64
Awaygoals       int64
dtype: object

In [28]:
al_results_df['ALFIE_rating'] = _ALFIE_rating(al_results_df['Homegoals'], al_results_df['Awaygoals'])
al_results_df.head()

,Unnamed: 0,Fixture_ID,Season,Competition,Date,Home_Team,Away_Team,Homegoals,Awaygoals,ALFIE_rating
0,0,12649002,2012-13,DIV5,2013-05-25,Old Brentwoods IV,Old Foresters IV,8,4,2.0
1,1,12649001,2012-13,DIV5,2013-05-18,Old Brentwoods IV,Old Brentwoods III,5,3,4.0
2,2,12637620,2012-13,PREM,2013-05-11,Lancing Old Boys,KCS Old Boys,1,1,4.0
3,3,12639446,2012-13,PREM,2013-05-11,Old Etonians,Old Chigwellians,4,0,1.0
4,4,12639447,2012-13,DIV1,2013-05-11,Old Malvernians,Old Haileyburians,1,3,3.0

In [29]:
print(al_results_df['ALFIE_rating'].unique())

[2. 4. 1. 3. 0. 5. 6. 7.]

In [30]:
ALFIE_df = al_results_df
ALFIE_df

,Unnamed: 0,Fixture_ID,Season,Competition,Date,Home_Team,Away_Team,Homegoals,Awaygoals,ALFIE_rating
0,0,12649002,2012-13,DIV5,2013-05-25,Old Brentwoods IV,Old Foresters IV,8,4,2.0
1,1,12649001,2012-13,DIV5,2013-05-18,Old Brentwoods IV,Old Brentwoods III,5,3,4.0
2,2,12637620,2012-13,PREM,2013-05-11,Lancing Old Boys,KCS Old Boys,1,1,4.0
3,3,12639446,2012-13,PREM,2013-05-11,Old Etonians,Old Chigwellians,4,0,1.0
4,4,12639447,2012-13,DIV1,2013-05-11,Old Malvernians,Old Haileyburians,1,3,3.0
...,...,...,...,...,...,...,...,...,...,...
7857,9013,27109895,2024-25,SCHL,2024-09-07,Highgate School 1st XI,Old Cholmeleians,0,0,4.0
7858,9014,27109896,2024-25,SCHL,2024-09-07,Highgate School 2nd XI,Old Cholmeleians II,0,0,4.0
7859,9015,27109901,2024-25,SCHL,2024-09-07,Kingston Grammar School 1st XI,Old Kingstonians,1,2,4.0
7860,9017,27109903,2024-25,SCHL,2024-09-07,Westminster School 1st XI,Old Westminsters,0,2,2.0
7861,9018,27109904,2024-25,SCHL,2024-09-07,Westminster School 2nd XI,Old Westminsters II,0,5,0.0

In [31]:
ALFIE_df.to_csv("ALFIE_ratings.csv")

In [ ]:
# Combining results so that Home and Away is negated